@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
}

body {
  background-color: rgba(0, 77, 26, 0.1);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}
